.skeleton-holder {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2%;
}
.skeleton-holder * {
    padding: 0;
    margin: 0;
}


#categories-holder {
    width: 100%;
    display: flex;
    padding: 2% 8%;
    row-gap: 2%;
    column-gap: 2%;
}
#categories-holder > p{
    margin: 0;
}

#products-holder {
    display: flex;
    flex-wrap: wrap;
    padding: 2%;
    row-gap: 2%;
    column-gap: 2%;
    justify-content: center;
    align-content: flex-start;
}