:root {
  --block-bg-color: rgb(0 0 0 / 10%);
  --block-txt-color: #000;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#root {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

main {
  overflow: auto;
}
